@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    background-color: hsl(210, 5%, 93%);
}

.bodycontainer {

    background-color: hsl(210, 5%, 93%);
    display: flex;
    justify-content: center;
    height: 800px;
}

.container {
    background-color: hsl(212, 45%, 89%);
    width: 1500px;
    height: 700px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 17px 0px rgba(184, 184, 184, 0.72);
    -webkit-box-shadow: 5px 5px 17px 0px rgba(184, 184, 184, 0.72);
    -moz-box-shadow: 5px 5px 17px 0px rgba(184, 184, 184, 0.72);
}

.card {
    width: 298px;
    height: 477px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 16px;
    text-align: center;
    box-shadow: 3px 3px 12px 0px rgba(184, 184, 184, 0.72);
    -webkit-box-shadow: 5px 5px 17px 0px rgba(184, 184, 184, 0.72);
    -moz-box-shadow: 5px 5px 17px 0px rgba(184, 184, 184, 0.72);

}

img {
    width: 270px;
    margin-top: 16px;
    border-radius: 12px;
}

.text-1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-top: 13px;
    background-color: white;

}

.text-2 {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    margin-top: 9px;
    font-size: 15px;
    margin: 20px;
    background-color: white;
    color: darkgrey;
    text-align: center;
}